/* custom stylesheet */

html {
  background-color: #020202;
  background: url(./images/gul_rot.jpg) no-repeat center fixed;
  background-size: auto;
  background-size: cover;
  height: 100%;
}

body {
  font-family: serif;
  color: #b59aff;
  line-height: 1.47;
}

h1, h2, h3, p {
  text-align: center;
  margin: auto;
  width: min(90%, 99rem)
}

i {
  color: #ad50e6;
}

li {
  color: #dcb2ff;
  margin-left: 80px;
  margin-right: 80px;
}

a, b {
  color: #dbd5ff;
}

a:hover {
  color: rgba(152, 1, 255, 0.81);
}

a:focus {
  outline: 2px dotted;
  color: rgba(220, 102, 255, 0.81);
  outline-offset: 2px;
}

mark {
  color: #d2c2df;
  background-color: #00010c;
  padding: 8px;
  font-size: 0.89;
}

pre {
  font-size: 0.89rem;
  color: #d2c2df;
  background-color: #00010c;
  margin-left: 80px;
  margin-right: 80px;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
  padding-left: 40px;
  padding-right: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-grow: 3;
  margin-left: 80px;
  margin-right: 80px;
}

.row2 {
  display: flex;
  flex-direction: row;
  margin-left: 80px;
  margin-right: 80px;
}

.row3 {
  display: flex;
  flex-direction: row;
  margin-left: 120px;
  margin-right: 80px;
}

.column {
  flex: 50%;
}

.column3 {
  flex: 33%;
}

.other-bg {
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-style: groove;
  border-color: #122b25;
  border-width: 5px;
}

.sm {
  margin-top: 30px;
  font-size: 0.7rem;
}

.dim {
  color: #2e1e58;
}

.smaller {
  font-size: 1rem;
  text-align: left;
}

.page-link {
  margin-left: 80px;
  margin-right: 80px;
}

.centering {
  text-align: center;
  width: 100%;
}

.room {
  margin-bottom: 80px;
}

.small-room {
  margin-bottom: 20px;
}

/* ==================
    Images
   ==================*/

img {
  max-width: 100%;
}

iframe {
  width: 560px;
  height: 315px;
}

.image2 {
  border-radius: 5px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 1);
  transition: 0.7s;
}

.image3 {
  height: 220px;
  margin-left: 200px
}

.image2:hover {
  box-shadow: 0 2px 16px rgba(174, 1, 255, 1);
}

.moth_image {
  max-height: 370px;
  margin-left: 40px;
  margin-top: 20px;
}

.moth_image2 {
  max-height: 510px;
  margin-left: 10%;
}

.moth_image3 {
  max-height: 490px;
  margin-left: 40px;
  margin-top: 40px;
}

.moth_image4 {
  max-width: 470px;
  margin-left: 40px;
  margin-top: 20px;
}

.ghost {
  position: absolute;
  top: 52%;
  left: 5%;
  right: 0;
  animation: vmove 6s ease-in-out infinite alternate-reverse both;
}

.box {
    position: relative;
    max-width: 100%;
}

.box img {
    position: absolute;
    max-width: 100%;
    /* object-fit: contain; */
    transition: opacity 2s ease-in-out;
}

.box #im2:hover {
    opacity: 0;
}

.image-space {
    margin-bottom: 250px;
}

@keyframes vmove {
  0% {
    transform: translateX(60px);
  }

  100% {
    transform: translateX(-60px);
  }

  0% {
    transform: translateX(60px);
  }

  100% {
    transform: translateX(-60px);
  }
}

/* Thing that happens on phones */

@media screen and (max-width: 1200px) {
    .image-space {
        margin-bottom: 70px;
    }
}


@media (max-width: 970px) {
  .row {
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }

  .row3 {
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }

  iframe {
    width: 315px;
    height: 177px;
    justify-content: center;
  }

  .other-bg {
    margin-left: 10px;
    margin-right: 10px;
  }

  .ghost {
    max-width: 130px;
  }

  #bannerimage {
    min-height: 400px;
  }

  .pre {
    margin-left: 5px;
    margin-right: 5px;
  }

  .img {
    max-width: 90%;
  }

  .image-space {
    margin-bottom: 350px;
  }
}

